.navigation {
    color: antiquewhite;
    /*background-color: hsla(204, 77%, 19%, 0.9);*/
    padding: 0 px;
    margin-top: 15px;
    

    
    
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    list-style-type: none;
}
.navigation__list {
    /*display: inline-block;*/
    margin: 0 auto;
    margin-inline: 0 px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    list-style-type: none;
}

.navigation__element {
    text-decoration: none;
}

.navigation__link {
    /*display: inline-block;*/
    color: hsl(19,11%,68%);
    text-decoration: none;
    font-weight: bold;
}

.navigation__link:visited {
    color: hsla(204, 48%, 72%, 0.9);
    font-weight: bold;
}

.navigation__link:focus {
    outline: 2px solid currentColor;
    font-weight: bold;
}

.navigation__link:hover {
    color: hsla(22, 47%, 49%, 0.9);
    outline: rgb(45, 45, 45);
    font-weight: bold;
}

.navigation__link:active {
    outline: 3px solid currentColor;
    font-weight: bold;
}