.navigation {
    color: antiquewhite;
    padding: 0 px;
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;  
}

.navigation__list {
    margin: 0 auto;
    margin-inline: 0 px;  
}

.navigation__element {
    list-style-type: none; 
}

.navigation__link {
    color: hsl(19, 11%, 68%);
    font-weight: bold;
    text-decoration: none;
}

.navigation__link:visited {
    color: hsla(204, 48%, 72%, 0.9);
}

.navigation__link:focus {
    outline: 2px solid currentColor;
}

.navigation__link:hover {
    color: hsla(22, 47%, 49%, 0.9);
    outline: rgb(45, 45, 45);
}

.navigation__link:active {
    outline: 3px solid currentColor;
}